{% include "../header.html" %}
<main id="content" class="transparent" style="padding-left:0">
      <div class="section darken-2 grey white-text">
            <div class="row">
             <div class="col s12 m5 l5">
                 <div class="card-panel grey darken-4">
                  <img style="display:block; height:auto;width:100%; object-position: 0% 10%;object-fit: cover;" src="/static/logo/cairn4.jpg">
                 <h4 class="header white-text text-darken-4">Inspiration</h4>
                 <p><i>Cairns</i> are human-made stack of stones erected as 360°-visible landmarks and memorials since neolithic. </p>
                 </div>
              </div>
             <div class="col s12 m7 l7">
                 <div class="card-panel grey darken-4">
                  <img class="responsive-img" src="/static/logo/banner0-min.png">
                 <h4 class="header white-text text-darken-4">Design</h4>
                 <p>CairnFORM is a shape-changing display that can change its revolution symmetry thanks to a modular stack of expandable illuminated rings.</p>
                 </div>
              </div>
            </div>
            <div class="row">
             <div class="col s12 m6 l6">
                 <div class="card-panel grey darken-4">
                  <img class="responsive-img" src="/static/logo/tech2.png">
                 <h4 class="header white-text text-darken-4">Application</h4>
                 <p>Different applications are possible with a shape-changing and color-changing cairn such as a light, a notifier, an hourglass, or a ring chart.</p>
                 <p>Physical charts such as physical ring charts have a strong potential for fostering public engagement through exhibitions in collective spaces (e.g. workplaces) and public spaces (e.g. train station).</p> </div>
              </div>
            <div class="row">
             <!--<div class="col s12 m4 l4">
                 <div class="card-panel grey darken-4">
                  <img class="responsive-img" src="/static/logo/energy1-min.png">
                 <h4 class="header white-text text-darken-4">Study <i>in vitro</i></h4>
                 <p>We focus on fostering energy cleanliness in collective and public spaces. We use a 10-rings CairnFORM as a dynamic physical ring chart visualizing 10-hours forecast data of local generation of renewable energy.</p>
                  <p>A pilot study with 14 participants on graphical ring charts that we conducted reveals that we should not visualize daily production peaks all-at-once but rather one-after-another all day long.</p>
                  <p>A user study with 90 participants during a public event reveals that physical ring charts are more usable for range tasks (e.g. indicates the start and end hour of a variation) and for compare tasks (e.g. gives the peak hour of the variation), rather than for order tasks (e.g. sort the hours of the variations in ascending order).</p>
                  <p>A user study with 30 participants in laboratory conditions on dynamic physical ring charts reveals that we should actuate rings with exponential speed rather than with logarithmic or linear speed to subtlely announce an incoming variation.</p>
                </div>
              </div>-->
             <div class="col s12 m6 l6">
                 <div class="card-panel grey darken-4">
                  <img class="responsive-img" src="/static/logo/energy2-min.png">
                 <h4 class="header white-text text-darken-4">Case study</h4>
                 <p>In collective and public spaces such as workplaces, people come from and go to different directions. We propose to deploy CairnFORM in the middle of a openplan for helping employees to shift laptop battery charges to peak hours of local renewable energy production.</p>
                 <p>Using CairnFORM, we display a ring chart visualizing 360°-readable forecast data about local renewable energy production.</p>
                <!--<p>We deployed CairnFORM in an openplan with the aim of encouraging employees to charge laptop batteries when there is plenty of renewable energy.</p>
                 <p class="center"><a class=" waves-effect waves-light btn grey darken-3 white-text" href="http://itame.pythonanywhere.com/CairnFORM/Study/">Study</a></p>
                 <p>To help users, we implemented SEDYL, a tool that simulates the consequences of a given practice for a given energy production mix.</p>
                 <p class="center"><a class=" waves-effect waves-light btn grey darken-3 white-text" href="http://itame.pythonanywhere.com/CairnFORM/Sedyl">Sedyl</a></p>-->
                 </div>
              </div>
          </div>
  </div>

  <!--<div class="section white grey darken-4">
  <h4 class="header center grey-text text-darken-4" style="margin:0px;">CairnFORM</h4>
 </div>-->
  </div>

<!--<div class="parallax-container transparent" style="height: 400px;">
    <div class="parallax"><img src="/static/logo/banner1-min.png"></div>
</div>-->
</main>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>
<script src="/static/js/plotly.min.js"></script>
<script src="/static/js/chroma.min.js"></script>

</body>
{% include "../footer.html" %}
