<footer class="page-footer white black-text" style="padding-left:1%;padding-right:1%;">
  <div class="container" style="width:100%">
    <div class="row center">
        <!--<div class="col s2"><h5>Institutions</h5></div>-->

      <div class="col s12 m12 l3">
        <h5 class="bold grey-text text-darken-4">Fundings</h5>
            <div class="patreon-footer-ad logo">
                <a href="http://www.aquitaine.fr/"><img src="/static/logo/regionneoaquitaine.jpg"></a>
            </div>
            <div class="patreon-footer-ad logo">
                <a href="https://www.communaute-paysbasque.fr/"><img src="/static/logo/aglopaysbasque.jpg"></a>
            </div>
      </div>
      <div class="col s12 m12 l2">
        <h5 class="bold grey-text text-darken-4">Partners</h5>
            <div class="patreon-footer-ad logo" style="max-width:150px;">
                <a href="http://www.epices-energie.fr/"><img src="/static/logo/epices.jpg"></a>
            </div>
      </div>
      <div class="col s12 m12 l4">
        <h5 class="bold grey-text text-darken-4">Institutions</h5>
            <div class="patreon-footer-ad logo">
                <a href="https://www.u-bordeaux.fr/"><img src="/static/logo/univbordeaux.jpg"></a>
            </div>
            <div class="patreon-footer-ad logo">
                <a href="http://www.estia.fr/"><img src="/static/logo/estia.jpg"></a>
            </div>
            <div class="patreon-footer-ad logo">
                <a href="https://www.labri.fr/"><img src="/static/logo/labri.jpg"></a>
            </div>
      </div>
      <div class="col s12 m12 l3">
        <h5 class="bold grey-text text-darken-4">Contacts</h5>
            <div class="patreon-footer-ad logo" style="max-width:50px;">
                <a href="http://www.maximedaniel.me/"><img class="circle  responsive-img" src="/static/logo/maxime_daniel.jpg"></a>
                <h6 class="caption">PhD<br/>student</h6>
            </div>
            <div class="patreon-footer-ad logo" style="max-width:50px;">
                <a href="http://www.guillaumeriviere.name/"><img class="circle responsive-img" src="/static/logo/guillaume_riviere.jpg"></a>
                <h6 class="caption">Associate<br/>professor</h6>
            </div>
            <div class="patreon-footer-ad logo" style="max-width:50px;">
                <a href="http://profils.estia.fr/n.couture/"><img class="circle  responsive-img" src="/static/logo/nadine_couture.jpg"></a>
                <h6 class="caption">Professor</h6>
            </div>
            <div class="patreon-footer-ad logo" style="max-width:50px;">
                <a href="https://www.lekooa.com/"><img class="circle  responsive-img" src="/static/logo/stephane_kreckelbergh.jpg"></a>
                <h6 class="caption">CEO<br/>Lekooa</h6>
            </div>
      </div>
    </div>
  </div>
</footer>
</body>
</div>
</html>
