<!DOCTYPE html>
<!--<html lang="en" style="background: url(/static/logo/earth-night.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
-->
<!--<html lang="en">-->
<meta charset="utf-8">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>ITAME</title>
  <meta name="description" content="ITAME est un projet de Recherche en Interaction Homme-Machine (IHM) démarré en Octobre 2015 qui s’intéresse aux Interfaces Utilisateur Tangibles (TUI), aux Technologies Persuasives et aux problématiques présentes et futures de gestion de l'énergie." />
  <meta name="keywords" content="itame, interaction homme-machine, interface utilisateur tangible, énergie, lieu public, lieu semi-public, technologie persuasive, ihm, tui, estia, labri, université de bordeaux, région aquitaine" />
  <meta name="author" content="Maxime Daniel">
  <meta name="robots" content="index, follow">
  <meta name="revisit-after" content="1 day">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--<link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
  <link href="/static/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/nouislider.min.css" rel="stylesheet">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/jquery-ui.js"></script>

	<!--<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
</head>
<body class="black-text white">
<header class="white" style="padding-left:0;z-index:1;max-height:50px;">
  <nav class="white">
    <div class="nav-wrapper white" style="max-height:50px;">
      <a href="http://itame.pythonanywhere.com/" class="brand-logo center white" style="font-size:0;max-height:50px;"><img id="front-page-logo" class="center" style="max-height: 40px;" src="/static/logo/itame-black.png"></a>
      </div>
  </nav>
</header>