<!DOCTYPE html>
<html lang="en" style="background: url(/static/maximedaniel/sustainability.jpg) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=0.75, user-scalable=no"/>
  <title>Maxime DANIEL</title>
  <meta name="description" content="I am a PhD student in Computer science at University of Bordeaux (LaBRI, Bordeaux, France) and ESTIA (Estia Research, Bidart, France). I study Human-Computer Interaction (HCI) and more precisely Tangible User Interfaces (TUIs) and Persuasive Technology (PT)." />
  <meta name="keywords" content="maxime daniel, itame, estia, labri, université de bordeaux" />
  <meta name="author" content="Maxime Daniel">
  <meta name="robots" content="index, follow">
  <meta name="revisit-after" content="1 month">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/nouislider.min.css" rel="stylesheet">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
	<!--<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
</head>
<body class="transparent white-text">
<main id="content">
<ul id="slide-out" class="side-nav fixed">
             <div class="section">
              <img id="front-page-logo" src="/static/maximedaniel/profil.png" style="display: block;width:45%;">
              <h5 class="header center">Maxime DANIEL</h5>
              <h6 class="header center">PhD student</h6>
             </div>
               <div class="section" style="padding-top:0;">
              <i class="material-icons" style="float:left;margin-right:5px;">email</i><span style="display: block;text-align:center;">maxime.daniel[at]u-bordeaux.fr</span>
               </div>
              <div class="section" style="padding-top:0;">
      			  <i class="material-icons" style="float:left;margin-right:5px;">phone</i><span style="display: block;text-align:center;">(+33) 5 59 43 84 58</span>
              </div>
              <div class="section" style="padding-top:0;">
      			  <i class="material-icons" style="float:left;margin-right:5px;">location_on</i><span style="display: block;text-align:center;">ESTIA,Technopôle Izarbel<br>64210 Bidart, France</span>
              </div>
            </div>
	      <ul class="section table-of-contents" style="padding:0;">
	        <li><a href="#biography">Biography</a></li>
	        <li><a href="#research">Projects & Publications</a></li>
          <li><a href="#community">Community & Teaching</a></li>
	        <li><a href="#cursus">Cursus</a></li>
	      </ul>
</ul>
<div class="section grey darken-4  hide-on-med-and-up">
  <div class="row container">
      <img id="front-page-logo" src="/static/maximedaniel/profil.png" style="display: block;width:45%;">
       <h5 class="header center">Maxime DANIEL</h5>
       <h6 class="header center ">PhD student</h6>
       <h6 class="header center">ESTIA, LaBRI, University of Bordeaux</h6>
       <h6 class="header center">maxime.daniel[at]u-bordeaux.fr</h6>
  </div>
</div>

<!--<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>-->
<div class="parallax-container">

</div>
<div id="biography" class="section scrollspy grey darken-4">
  <div class="row container">
    <h3 class="header center">Biography</h3>
    <p> From February to July 2015, I did a research internship with Immersion (Bordeaux, France), a company specialized in Augmented and Virtual Reality technologies. During this internship, I was led to do scientific research with Potioc, an Inria research team (Bordeaux, France) in Human Computer Interaction (HCI). Thanks to Potioc and Immersion, I was able to explore some HCI fields such as Augmented Reality (AR), Virtual Reality (VR), Tangible User Interfaces (TUIs) and even Brain-Computer Interface (BCI).</p>
    <div class="section center">
    <a href="http://www.immersion.fr/en/" class="brand-logo"><img id="front-page-logo" class="clickable" src="/static/maximedaniel/immersion.png" width="157px" height="100px"></a>
    <a href="https://team.inria.fr/potioc/" class="brand-logo"><img id="front-page-logo" class="clickable" src="/static/maximedaniel/potioc.png" width="190px" height="100px"></a>
    </div>
     <p>Since October 2015, I am a PhD student in Computer Science at University of Bordeaux (LaBRI, Bordeaux, France) and ESTIA (Estia Research, Bidart, France). I study HCI and more precisely the applications of Tangible User Interfaces (TUIs) to Persuasive Technology (PT). </p>
    <div class="section center">
    <a href="http://www.estia.fr/index.php?id=763" class="brand-logo"><img id="front-page-logo" class="clickable" src="/static/maximedaniel/logo-estia1.png" width="223px" height="100px"></a>
    <a href="https://www.labri.fr/index.php?userlang=en" class="brand-logo"><img id="front-page-logo" class="clickable" src="/static/maximedaniel/logo-labri.png" width="208px" height="100px"></a>
    </div>
  </div>
</div>
<div class="parallax-container">
<!--<div class="parallax"><img src="/static/maximedaniel/sustainability.png"></div>-->
</div>
<div id="research" class="section scrollspy grey darken-4">
  <h3 class="header center">Research Projects</h3>
  <div class="row container valign-wrapper">
  <a href="http://itame.pythonanywhere.com/" class="brand-logo"><img src="/static/maximedaniel/logo-itame-invert-en.png" class="clickable"  height="50px" alt="Unsplashed logo img 1"></a>
  </div>
    <h3 class="header center">Publications</h3>
    <div class="row container valign-wrapper">
             <div class="col s4 m2 l2 push-s4">
              <a href="https://chi2016.acm.org/wp/" class="brand-logo"><img id="front-page-logo" class="clickable" src="/static/maximedaniel/chi.png" style="width:100%"></a>
              </div>
             <div class="col s12 m10 l10">
              <p>Jérémy Frey, Maxime Daniel, Julien Castet, Martin Hachet, and Fabien Lotte. 2016. Framework for Electroencephalography-based Evaluation of User Experience. In <i>Proceedings of the 2016 CHI Conference on Human Factors in Computing Systems</i> (CHI '16). ACM, New York, NY, USA, 2283-2294. DOI: http://dx.doi.org/10.1145/2858036.2858525.</p>
             </div>
    </div>
   <div class="row container valign-wrapper">
             <div class="col s4 m2 l2 push-s4">
              <a href="http://ihm2016.afihm.org/" class="brand-logo"><img id="front-page-logo" class="clickable" src="/static/maximedaniel/logo-ihm16.svg" style="width:100%"></a>
              </div>
             <div class="col s12 m10 l10">
              <p>Maxime Daniel, Guillaume Rivière, Nadine Couture, and Stéphane Kreckelbergh. 2016. An analysis of persuasive technologies for energy demand side management. In <i>Actes de la 28ième conférence francophone sur l'Interaction Homme-Machine</i> (IHM '16). ACM, New York, NY, USA, 197-210. DOI: http://dx.doi.org/10.1145/3004107.3004111.</p>
             </div>
  </div>
   <div class="row container valign-wrapper">
             <div class="col s4 m2 l2 push-s4">
              <a href="http://ihm2016.afihm.org/" class="brand-logo"><img id="front-page-logo" class="clickable" src="/static/maximedaniel/logo-ihm16.svg" style="width:100%"></a>
              </div>
             <div class="col s12 m10 l10">
              <p>Maxime Daniel, Guillaume Rivière, and Nadine Couture. 2016. Persuasive interactive systems in public and collective spaces: what role for tangible interfaces ?. In <i>Actes de la 28ième conférence francophone sur l'Interaction Homme-Machine</i> (IHM '16). ACM, New York, NY, USA, 221-229. DOI: http://dx.doi.org/10.1145/3004107.3004131.</p>
             </div>
  </div>
   <div class="row container valign-wrapper">
             <div class="col s4 m2 l2 push-s4">
              <a href="http://ihm2016.afihm.org/" class="brand-logo"><img id="front-page-logo" class="clickable" src="/static/maximedaniel/ihm17.png" style="width:100%"></a>
              </div>
             <div class="col s12 m10 l10">
              <p>Maxime Daniel, Guillaume Rivière, and Nadine Couture. 2016. Prelimary studies for the design of CAIRNS : an Ambient Tangible Interface for Shifting Energy Demand in the Workplace. In <i>Actes de la 29ème conférence francophone sur l'Interaction Homme-Machine</i> (IHM '17). ACM, New York, NY, USA, 221-229. DOI: http://dx.doi.org/10.1145/3132129.3132152.</p>
             </div>
  </div>
</div>
<div class="parallax-container">
<!--<div class="parallax"><img src="/static/maximedaniel/amphi.png"></div>-->
</div>
<div id="community" class="section scrollspy grey darken-4" style="padding-top: 0">
    <h3 class="header center" style="padding:1rem; margin-top: 0">Community</h3>
  <div class="row container">
    <!--<h4 class="header">ESTIA Research Meeting</h4>
    <table class="centered">
        <thead>
          <tr>
              <th data-field="id">Years</th>
              <th data-field="name">Title</th>
              <th data-field="name">Group size</th>
              <th data-field="name">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2016</td>
            <td>Scholdoc : a tool to convert ScholarlyMarkdown documents into HTML5, LaTeX, and Docx</td>
            <td>~30</td>
            <td>15m</td>
          </tr>
          <tr>
            <td>2016</td>
            <td>ITAME : advancement after 1 year of research</td>
            <td>~30</td>
            <td>30m</td>
          </tr>
        </tbody>
      </table>-->
<h4 class="header">PhD School</h4>
<table class="centered">
<thead>
  <tr>
     <th data-field="id">Date</th>
      <th data-field="price">Specialty</th>
      <th data-field="price">School</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>January 25-29, 2016</td>
    <td>Tangible interaction</td>
    <td><a href="http://www.etis.estia.fr/" class="brand-logo"><img id="front-page-logo" class="clickable" src="/static/maximedaniel/etis.png" width="148px" height="80px"></a></td>
  </tr>
  <tr>
    <td>June 19-23, 2017</td>
    <td>Tangible interaction</td>
    <td><a href="http://www.etis.estia.fr/" class="brand-logo"><img id="front-page-logo" class="clickable" src="/static/maximedaniel/etis.png" width="148px" height="80px"></a></td>
  </tr>
</tbody>
</table>

 <h4 class="header">PhD formation</h4>
      <table class="centered">
        <thead>
          <tr>
              <th data-field="id">Date</th>
              <th data-field="price">Formation</th>
              <th data-field="price">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>February 17 and March 22, 2016</td>
            <td>Well-being and Integrity</td>
            <td>14h</td>
          </tr>
          <tr>
            <td>March 23-24, 2016</td>
            <td>Citizen Science</td>
            <td>14h</td>
          </tr>
          <tr>
            <td>May 10-12, 2016</td>
            <td>Doctoral production Beyond Publications</td>
            <td>18h</td>
          </tr>
          <tr>
            <td>April 5, 2017</td>
            <td>Modern times of Artificial Intelligence</td>
            <td>12h</td>
          </tr>
          <tr>
            <td>May 29-June 6, 2017</td>
            <td>Entrepreneurship Seminar</td>
            <td>34h</td>
          </tr>
        </tbody>
        <thead>
        <th></th>
        </thead>
        <thead>
              <th>Total</th>
              <th></th>
              <th>92h</th>
          </tr>
        </thead>
      </table>
  <h3 class="header center" style="padding:1rem; margin-top: 0">Teaching</h3>
    <h4 class="header">Expertise</h4>
    <h5 class="header">Augmented Virtuality</h5>
    <table class="centered">
        <thead>
          <tr>
              <th data-field="id">Years</th>
              <th data-field="name">Cycle</th>
              <th data-field="name">Status</th>
              <th data-field="name">Group size</th>
              <th data-field="name">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2017-2018</td>
            <td>3<sup>nd</sup> year</td>
            <td>Student</td>
            <td>30</td>
            <td>2h</td>
          </tr>
        <thead>
        <th></th>
        </thead>
        <thead>
              <th>Total</th>
              <th></th>
              <th></th>
              <th>4</th>
              <th>2h</th>
          </tr>
        </thead>
        </tbody>
      </table>
    <!--<h5 class="header">Technical Expertise</h5>
    <table class="centered">
        <thead>
          <tr>
              <th data-field="id">Years</th>
              <th data-field="name">Cycle</th>
              <th data-field="name">Status</th>
              <th data-field="name">Group size</th>
              <th data-field="name">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2015-2016</td>
            <td>2<sup>nd</sup> year</td>
            <td>Student</td>
            <td>4</td>
            <td>4h</td>
          </tr>
        <thead>
        <th></th>
        </thead>
        <thead>
              <th>Total</th>
              <th></th>
              <th></th>
              <th>4</th>
              <th>4h</th>
          </tr>
        </thead>
        </tbody>
      </table>-->
    <h4 class="header">Programming</h4>
 <h5 class="header">Mobile and Communicating Objects</h5>
      <table class="centered">
        <thead>
          <tr>
              <th data-field="id">Years</th>
              <th data-field="name">Cycle</th>
              <th data-field="name">Status</th>
              <th data-field="name">Group size</th>
              <th data-field="name">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2017-2018</td>
            <td>1<sup>nd</sup> year</td>
            <td>Student</td>
            <td>50</td>
            <td>8h</td>
          </tr>
          <tr>
            <td>2017-2018</td>
            <td>1<sup>nd</sup> year</td>
            <td>Student</td>
            <td>50</td>
            <td>8h</td>
          </tr>


        <thead>
        <th></th>
        </thead>
        <thead>
              <th>Total</th>
              <th></th>
              <th></th>
              <th>100</th>
              <th>16h</th>
          </tr>
        </thead>
        </tbody>
      </table>

 <h5 class="header">Web Development</h5>
      <table class="centered">
        <thead>
          <tr>
              <th data-field="id">Years</th>
              <th data-field="name">Cycle</th>
              <th data-field="name">Status</th>
              <th data-field="name">Group size</th>
              <th data-field="name">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2017-2018</td>
            <td>1<sup>nd</sup> year</td>
            <td>Student</td>
            <td>20</td>
            <td>14h</td>
          </tr>
          <tr>
            <td>2017-2018</td>
            <td>1<sup>nd</sup> year</td>
            <td>Student</td>
            <td>20</td>
            <td>14h</td>
          </tr>

        <thead>
        <th></th>
        </thead>
        <thead>
              <th>Total</th>
              <th></th>
              <th></th>
              <th>40</th>
              <th>32h</th>
          </tr>
        </thead>
        </tbody>
      </table>
    <h5 class="header">Event-Driven Programming</h5>
      <table class="centered">
        <thead>
          <tr>
              <th data-field="id">Years</th>
              <th data-field="name">Cycle</th>
              <th data-field="name">Status</th>
              <th data-field="name">Group size</th>
              <th data-field="name">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2015-2016</td>
            <td>2<sup>nd</sup> year</td>
            <td>Apprentice</td>
            <td>55</td>
            <td>8h</td>
          </tr>
          <tr>
            <td>2015-2016</td>
            <td>2<sup>nd</sup> year</td>
            <td>Student</td>
            <td>52</td>
            <td>8h</td>
          </tr>
        <thead>
        <th></th>
        </thead>
        <thead>
              <th>Total</th>
              <th></th>
              <th></th>
              <th>107</th>
              <th>16h</th>
          </tr>
        </thead>
        </tbody>
      </table>
    <h5 class="header">Object-oriented Programming</h5>
      <table class="centered">
        <thead>
          <tr>
              <th data-field="id">Years</th>
              <th data-field="name">Cycle</th>
              <th data-field="name">Status</th>
              <th data-field="name">Group size</th>
              <th data-field="name">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2016-2017</td>
            <td>2<sup>nd</sup> year</td>
            <td>Student</td>
            <td>50</td>
            <td>14h</td>
          </tr>
          <tr>
            <td>2016-2017</td>
            <td>2<sup>nd</sup> year</td>
            <td>Student</td>
            <td>52</td>
            <td>14h</td>
          </tr>
        <thead>
        <th></th>
        </thead>
        <thead>
              <th>Total</th>
              <th></th>
              <th></th>
              <th>102</th>
              <th>28h</th>
          </tr>
        </thead>
        </tbody>
      </table>
    <h5 class="header">Procedural Programming</h5>
      <table class="centered">
        <thead>
          <tr>
              <th data-field="id">Years</th>
              <th data-field="name">Cycle</th>
              <th data-field="name">Status</th>
              <th data-field="name">Group size</th>
              <th data-field="name">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2015-2016</td>
            <td>1<sup>nd</sup> year</td>
            <td>Apprentice</td>
            <td>69</td>
            <td>10h</td>
          </tr>
          <tr>
            <td>2015-2016</td>
            <td>1<sup>nd</sup> year</td>
            <td>Student</td>
            <td>62</td>
            <td>10h</td>
          </tr>
          <tr>
            <td>2016-2017</td>
            <td>1<sup>nd</sup> year</td>
            <td>Apprentice</td>
            <td>52</td>
            <td>12h</td>
          </tr>
          <tr>
            <td>2016-2017</td>
            <td>1<sup>nd</sup> year</td>
            <td>Student</td>
            <td>43</td>
            <td>12h</td>
          </tr>
        <thead>
        <th></th>
        </thead>
        <thead>
              <th>Total</th>
              <th></th>
              <th></th>
              <th>226</th>
              <th>44h</th>
          </tr>
        </thead>
        </tbody>
      </table>

  </div>
  </div>
</div>
<div class="parallax-container">
<!--<div class="parallax"><img src="resources/bordeaux.png"></div>-->
</div>
</div>
<div id="cursus" class="section scrollspy grey darken-4">
  <div class="row container">
    <h3 class="header center">Cursus</h3>
      <table class="centered">
        <thead>
          <tr>
              <th data-field="year">Year</th>
              <th data-field="degree">Degree</th>
              <th data-field="spec">Specialty</th>
              <th data-field="school">Institution</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Now</td>
            <td>Doctorate</td>
            <td>Human-Computer Interaction</td>
            <td><a href="http://www.u-bordeaux.com/" class="brand-logo"><img id="front-page-logo" class="clickable" src="/static/maximedaniel/logo-bordeaux.svg" height="80px"></a></td>
          </tr>
          <tr>
            <td>2015</td>
            <td>Master</td>
            <td>Computer science</td>
            <td><a href="http://www.u-bordeaux.com/" class="brand-logo"><img id="front-page-logo" class="clickable" src="/static/maximedaniel/logo-bordeaux.svg" height="80px"></a></td>
          </tr>
          <tr>
            <td>2013</td>
            <td>License</td>
            <td>Mathematics, Statistics and Computer science</td>
            <td><a href="http://www.univ-ubs.fr/" class="brand-logo"><img id="front-page-logo" class="clickable" src="/static/maximedaniel/ubs.png" height="80px"></a></td>
          </tr>
          <tr>
            <td>2010</td>
            <td>Baccalauréat</td>
            <td>Economics and Social sciences</td>
             <td><a href="http://www.lyceefranklinauray.ac-rennes.fr/" class="brand-logo"><img id="front-page-logo" class="clickable" src="/static/maximedaniel/benjamin-franklin.png" height="80px"></a></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
</main>
	<script src="/static/js/materialize.min.js"></script>
	<script>
    $( document ).ready(function() {
        $('.carousel.carousel-slider').carousel({full_width: true});
        $('.carousel').carousel();
        $('.slider').slider({full_width: true});
        $('.parallax').parallax();
        $('.modal-trigger').leanModal();
        $('.scrollspy').scrollSpy();
        $('.button-collapse').sideNav({'edge': 'left'});
        $('.datepicker').pickadate({selectYears: 20});
        $('select').not('.disabled').material_select();
        $('.materialboxed').materialbox();
    });
    </script>
</body>
<!--<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l8">
        <h5 class="white-text">Institutions</h5>
          <a href="http://www.estia.fr/" class="brand-logo"><img id="front-page-logo" src="resources/logo-estia1.png" height="70px"></a>
          <a href="http://www.bayonne.cci.fr/" class="brand-logo"><img id="front-page-logo" src="resources/cci-bayonne.png" height="70px"></a>
          <a href="https://www.labri.fr/" class="brand-logo"><img id="front-page-logo" src="resources/logo-labri.png" height="70px"></a>
          <a href="https://www.u-bordeaux.fr/" class="brand-logo"><img id="front-page-logo" src="resources/logo-bordeaux.svg" height="70px"></a>
          <a href="http://www.aquitaine.fr/" class="brand-logo"><img id="front-page-logo" src="resources/logo-aquitaine-invert.png" height="70px"></a>
      </div>
      <div class="col s12 m4 l4">
        <h5 class="white-text">Contacts</h5>
        <ul>
          <li><a class="grey-text text-lighten-3 clickable" href="#!">Maxime Daniel, Doctorant</a></li>
          <li><a class="grey-text text-lighten-3 clickable" href="http://www.guillaumeriviere.name/">Guillaume Rivière, Enseignant-Chercheur</a></li>
          <li><a class="grey-text text-lighten-3 clickable" href="http://profils.estia.fr/n.couture/">Nadine Couture, Professeur</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
    ITAME 2015 - 2018
    </div>
  </div>
</footer>-->
</html>
