{% include "../header.html" %}
<main id="content" style="padding-left:0">
  <div class="parallax-container" style="height:200px">
  </div>
  <div class="section white">
       <div class="row">
        <div class="col s12" id="component">
                    <h4 class="black-text indigo-text text-darken-4">Experimentation 1</h4>
                    <p class="black-text"><strong>Contexte ciblé :</strong> Encourager les employés à favoriser le stockage d'énergie verte locale avec leur ordinateur portable.</p>

                    <p class="black-text"><strong>Données utilisées :</strong> Prévisions horaires sur le pourcentage d'énergie verte présent dans le mix énergétique local</p>
                    <p class="black-text">[energie locale] =  [énergie verte produite] + [énergie verte importée] + [énergie grise importée] </p>
                    <p class="black-text">[énergie verte locale] =  ([énergie verte produite] + [énergie verte importée]) / [energie locale] </p>
                    <h4 class="black-text indigo-text text-darken-4">Phase 0 - Recrutement des participants</h4>
                    <p class="black-text">Supposons qu'il y ait 4 personnes par bureau, nous devons recruter au moins 4 bureaux du laboratoire et/ou de l'incubateur pour avoir un minimum de 12 participants.</p>

                    <h4 class="black-text indigo-text text-darken-4">Phase 1 - Observation des pratiques</h4>
                    <p class="black-text">Pendant 2 semaines, un daemon sera installé sur les ordinateurs portables des participants afin de logger les évènements systèmes "branchage/débranchage de la batterie"( i.e., [timestamp, address_mac, event]). Lorsque l'ordinateur dispose d'une connexion internet, les évènements sont transmis</p>
                    <h4 class="black-text indigo-text text-darken-4">Phase 2 - Déploiement du</h4>
                    <p class="black-text">Pendant 2 semaines, installer</p>

                    <br>

                    <h5 class="black-text indigo-text text-darken-4">Prototype</h5>
                    <p class="black-text"><strong>Feedback tangible :</strong> la fleuraison d'une fleur mécanique incarne la couleur de l'heure actuelle. Plus la prévision de production d'énergie verte pour la prochaine heure est grande, plus la fleur est ouverte. Plus la prévision de production d'énergie verte pour la prochaine heure est petite, plus la fleur est fermée.<p>

                    <p class="black-text"><strong>Feedback graphique :</strong> La fleuraison d'une fleur graphique sur une tablette incarne la couleur de l'heure actuelle. Plus la prévision de production d'énergie verte pour la prochaine heure est grande, plus la fleur est ouverte. Plus la prévision de production d'énergie verte pour la prochaine heure est petite, plus la fleur est fermée.<p>

                    <h5 class="black-text indigo-text text-darken-4">Scénario</h5>
                    <p class="black-text"><strong>Phase 1 :</strong> pendant le premier mois, le prototype tangible est déployé dans le bureau A et le prototype graphique est déployé dans le bureau B.<p>
                    <p class="black-text"><strong>Phase 2 :</strong> pendant le dernier mois, les deux prototypes sont inversés.<p>

                    <h5 class="black-text indigo-text text-darken-4">Évaluation</h5>
                    <p class="black-text"><strong>Évaluation quantitative :</strong> mesure du nombre de regards portés au prototype, mesure de la consommation d'énergie du système interactif.<p> 
                    <p class="black-text"><strong>Évaluation qualitative :</strong> interview aléatoire des employés pendant les deux phases de l'éxpérimentation pour évaluer leur connaissance de la couleur de l'heure actuelle. Interview des employés au début, entre et à la fin de chaque phase pour évaluer leur engagement vis-à-vis du système interactif.<p> 

                    <h4 class="black-text indigo-text text-darken-4">Hypothèse 2 (Contemplation)</h4>
                    <p class="black-text">À la gare, la simulation tangible engagent plus les citoyens à reflechir sur les enjeux liés aux micro-réseaux électriques (e.g., importance de la visibilité de la consommation d'énergie, impact de la variabilité des sources d'énergies renouvelables sur la production d'énergie) que la simulation graphique.</p>

                    <h5 class="black-text indigo-text text-darken-4">Prototype</h5>
                    <p class="black-text"><strong>Simulation tangible :</strong>des interacteurs tangibles permettent à l'utilisateur de configurer et de visualiser la production d'énergie de la France sur 7 jours afin d'obtenir la production la plus optimale en terme d'économie énergétique (i.e. faire corespondre le plus possible la courbe de production à la courbe de consommation) et de propreté énergétique (i.e. faire en sorte que l'énergie produite soit la plus verte possible). Une fois que l'utilisateur pense avoir obtenu la configuration la plus optimale, il peut soumette son résultat et obtenir de l'énergie gratuite pour recharger son smartphone, etc. pendant une durée déterminée par la qualité du résultat soumis par l'utilisateur.<p>

                    <p class="black-text"><strong>Simulation graphique :</strong>des interacteurs graphiques permettent à l'utilisateur de configurer et de visualiser la production d'énergie de la France sur 7 jours afin d'obtenir la production la plus optimale en terme d'économie énergétique (i.e. faire corespondre le plus possible la courbe de production à la courbe de consommation sans créer de blackout) et de propreté énergétique (i.e. faire en sorte que l'énergie produite soit la plus verte possible). Une fois que l'utilisateur pense avoir obtenu la configuration la plus optimale, il peut soumette son résultat et obtenir de l'énergie gratuite pour recharger son smartphone, etc. pendant une durée déterminée par la qualité du résultat soumis par l'utilisateur.<p>

                    <h5 class="black-text indigo-text text-darken-4">Scénario</h5>
                    <p class="black-text">En échange d'une énergie gratuite, les citoyens présents dans une gare sont encouragés à réflechir sur l'importance de la visibilité de la consommation d'énergie et l'impact de la variabilité des sources d'énergies renouvelables sur la production d'énergie.</p>
                    <p class="black-text"><strong>Phase 1:</strong>Pendant le premier mois, le prototype tangible est déployé dans la gare A et le prototype graphique est déployé dans la gare B.<p>
                    <p class="black-text"><strong>Phase 2 :</strong>Pendant le dernier mois, les deux prototypes sont inversés.<p>

                    <h5 class="black-text indigo-text text-darken-4">Évaluation</h5>
                    <p class="black-text"><strong>Évaluation quantitative :</strong> mesure du nombre de citoyens ayant interagi avec le prototype, mesure du nombre d'interactions d'un meme citoyens avec le prototype.<p> 
                    <p class="black-text"><strong>Évaluation qualitative :</strong> interview aléatoire des citoyens après une phase d'interaction pour évaluer leur engagement avec le système interactif et leur compréhension des problématiques liées à la visibilité de la consommation d'énergie et à la variabilité dans la génération d'énergies renouvelables.<p> 

                    <h4 class="black-text indigo-text text-darken-4">Sous-hypothèse 3 (Action)</h4>
                    <p class="black-text">Au travail, les récompenses tangibles engagent plus les employées que les récompenses graphiques, à stocker de l'énergie avec leurs ordinateurs portables pendant les heures les plus vertes de la journée.</p>


                    <h5 class="black-text indigo-text text-darken-4">Prototype</h5>

                    <p class="black-text"><strong>Récompense tangible :</strong>les graines-billes générées par la fleur mécanique représentent la quantité d'énergie verte stockée par les employées. Plus les employés stockent de l'énergie verte, plus la fleur génère des graines-billes.</p>

                    <p class="black-text"><strong>Récompense graphique :</strong> les graines virtuelles générées par la fleur graphique représentent la quantité d'énergie verte stockée par les employées. Plus les employés stockent de l'énergie verte, plus la fleur génère des graines-billes.</p>

                    <h5 class="black-text indigo-text text-darken-4">Scénario</h5>
                    <p class="black-text">Les employées d'un bureau A et d'un bureau B sont encouragés à stocker de l'énergie avec leurs ordinateurs portables pendant les heures les plus vertes de la journée. Les employés peuvent utiliser les graines générées par la fleur pour les donner à un kiosk qui récolte les graines et offre à l'utilisateur du café/thé gratuit, ticket restau, et/ou goodies.</p>
                    <p class="black-text"><strong>Phase 1 :</strong>Pendant le premier mois, le prototype tangible est déployé dans le bureau A et le prototype graphique est déployé dans le bureau B.<p>
                    <p class="black-text"><strong>Phase 2 :</strong>Pendant le dernier mois, les deux prototypes sont inversés.<p>

                    <h5 class="black-text indigo-text text-darken-4">Évaluation</h5>
                    <p class="black-text"><strong>Évaluation quantitative :</strong> mesure du nombre du nombre de recharges en heures vertes et grises des ordinateurs, mesure du nombre de graines générées, mesure du nombre d'interaction avec le kiosk.<p> 
                    <p class="black-text"><strong>Évaluation qualitative :</strong> Interview des employés au début, entre et à la fin de chaque phases pour évaluer leur engagement vis-à-vis du système interactif.<p> 


                    <h4 class="black-text indigo-text text-darken-4">Hypothèse 4 (Maintenance)</h4>
                    <p class="black-text">Au quotidien, les accomplissements tangibles engagent plus les citoyens que les accomplissements graphiques, à stocker de l'énergie avec leurs smartphones pendant les heures les plus vertes de la journée.</p>

                    <h5 class="black-text indigo-text text-darken-4">Prototype</h5>

                    <p class="black-text"><strong>Accomplissement tangible :</strong> l'ouverture d'un badge/logo mécanique sur le dos du smartphone représente le niveau "écolo" atteint par le citoyen.</p>
                    <p class="black-text"><strong>Accomplissement graphique :</strong> l'ouverture d'un badge/logo graphique sur l'écran du smartphone représente le niveau "écolo" atteint par le citoyen.</p>

                    <h5 class="black-text indigo-text text-darken-4">Scénario</h5>
                    <p class="black-text"><strong>Phase 1 :</strong>Pendant le premier mois, le prototype tangible est fourni à un individu engagé.<p>
                    <p class="black-text"><strong>Phase 2 :</strong>Pendant le dernier mois, le prototype graphique est fourni à ce meme individu.<p>


                    <h5 class="black-text indigo-text text-darken-4">Évaluation</h5>
                    <p class="black-text"><strong>Évaluation quantitative :</strong> mesure du nombre de recharges en heures vertes et grises du smartphone<p> 
                    <p class="black-text"><strong>Évaluation qualitative :</strong> interview de l'individu au début, entre et à la fin de chaque phase pour évaluer leur engagement vis-à-vis du système interactif.<p>

                    <!--<h3 class="black-text indigo-text text-darken-4 center">Moduler l'interaction Homme-Machine par l'interaction Homme-Énergie (i.e. sa source d'énergie) permet aux utilisateurs de comprendre que les impacts environnementaux peuvent également impacter leur interaction avec les systèmes interactifs</h3>-->

                    <h4 class="black-text indigo-text text-darken-4">Hypothèse 5 (Interaction Homme-Énergie)</h4>
                    <p class="black-text">Supposons qu'au quotidien, les citoyens peuvent stocker de l'énergie avec leur appareils mobiles telles que les smartphones, tablettes et portables et disposent d'informations sur le mix énergétique qui compose leur batterie. Si les citoyens avaient la possibilité de distribuer une source d'énergie spécifique de leur smartphone à un autre système interactif, cette nouvelle interaction Homme-Énergie ouvrirait la porte à de nouveaux comportements et de nouvelles pratiques au quotidien que ce soit avec l'énergie ou les systèmes interactifs.</p>

                    <h5 class="black-text indigo-text text-darken-4">Prototype</h5>
                    <p class="black-text"><strong>Discrimination énergétique :</strong> une interface est constamment éteinte. Si l'utilisateur souhaite interagir avec elle, il devra lui fournir de l'énergie avec son appareil mobile. Si l'énergie fournit à l'interface est de l'énergie grise, l'interface s'active et offre une interaction graphique et ses fonctionnalités classiques. Cependant, si l'énergie fournit est de l'énergie verte, l'interface s'active et offre une interaction tangible et des fonctionnalités supplémentaires.</p>
                    <h5 class="black-text indigo-text text-darken-4">Scénario 1</h5>
                    <p class="black-text">Un utilisateur ne dispose plus de batterie. Un de ses amis pourrait lui donner 10 % de sa batterie pour recharger son téléphone à l'aider de la technologie NFC.</p>

                    <h5 class="black-text indigo-text text-darken-4">Scénario 2</h5>
                    <p class="black-text"><strong>Discrimination énergétique :</strong>À la gare, une interface permettant de jouer en collaboration est constamment éteinte. Si l'utilisateur souhaite interagir avec l'interface, il devra lui fournir de l'énergie avec son appareil mobile. Si l'énergie fournit à l'interface est de l'énergie grise, l'interface s'active et offre une interaction graphique. Cependant, si l'énergie fournit est de l'énergie verte, l'interface s'active et offre une interaction tangible.</p>
        </div>  
      </div>
  </div>
     <div class="parallax-container" style="height:200px">
     </div>              
</main>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>
</body>
{% include "../footer.html" %}
