{% include "../header.html" %}
<!--<div id="loader">
    <div class="section center">
        <div class="row center">
          <div class="col s12 m12 l12 center">
              <div class="preloader-wrapper big active center">
                <div class="spinner-layer spinner-black-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>-->
<div id="body">
<main style="padding-left:0;">

  <div class="section darken-2 black-text white">
        <div class="row white">
             <div class="col offset-s1 s10 offset-m1 m10 offset-l1 l2">
            	      <ul class="table-of-contents" style="padding:0;">
            	        <li><h5 style="margin-top:0;margin-bottom:0.5rem;"><a href="#" id="abstract">Abstract</a></h5></li>
            	        <li><h5 style="margin-top:0;margin-bottom:0.5rem;"><a href="#" id="stateofart">State of art</a></h5></li>
            	        <li><h5 style="margin-top:0;margin-bottom:0.5rem;"><a href="#"  id="cairnform">CairnFORM</a></h5></li>
                        <li><h5 style="margin-top:0;margin-bottom:0.5rem;"><a href="#"  id="usecase">Use case</a></h5></li>
            	        <li><h5 style="margin-top:0;margin-bottom:0.5rem;"><a href="#"  id="userstudy">User study</a></h5></li>
            	        <li><h5 style="margin-top:0;margin-bottom:0.5rem;"><a href="#"  id="publication">Publication</a></h5></li>
            	      </ul>
             </div>
             <div class="col offset-s1 s10 offset-m1 m10 l8" id="content" >
                 <span id="abstract">
                     <!--ITAME was a research project in HCI from october 2015 to october 2018 that
                     studied the application of tangible user interfaces for promoting energy sobriety and energy cleanliness in collective and public spaces.
                    <br>-->
                    In the middle of collective and public spaces, cylindrical displays inform users at 360° using color-changing abilites only.
                    Inspired by cairns, we designed CairnFORM, a shape-changing cylindrical display that informs users at 360° with more expressiveness using color-changing and shape-changing abilities.
                    As a use case, we focus on promoting energy cleanliness in the workplace by helping employees to shift laptop battery charge to peak hours of local renewable energy production: We use CairnFORM to display a physical ring chart visualizing 10-hours forecast data of local renewable energy production.
                    Through user studies with CairnFORM, we show that shape-changing cylindrical displays (1) are usable for informing users through data physicalization, (2) are usable for unobtrusively notifying users through peripheral interaction, and (3) offer a greater user experience over time than planar displays.
                 </span>
                 <span id="stateofart">
                    We classifed 67 interative systems promoting energy sobriety (i.e. using less energy) and energy cleanliness (i.e. using cleaner energy).
                    At the moment, these systems are mainly designed for promoting energy sobriety in domestic spaces using mobile graphical interfaces (e.g. web or mobile apps) or fixed ambient physical interfaces (e.g. connected objects).
                    We focus on using cylindrical displays for promoting energy cleanliness in collective and public spaces.
                    <p class="center"><a class="waves-effect waves-light btn black white-text" href="/Classification">Classification</a></p>
                 </span>
                 <span id="cairnform">
                    In the middle of collective and public spaces, cylindrical displays inform users at 360° using color-changing abilites only.
                    Inspired by <i>cairns</i>, we designed CairnFORM, a shape-changing cylindrical display that informs users at 360° with more expressiveness using color-changing and shape-changing abilities.
                    The shape-changing ability of CairnFORM is the dynamic revolution symmetry: It can morph to different discrete surfaces of revolution <i>e.g.</i> a discret surface of a cylinder, a cone, a double cone, an ellipsoid.

                <div class="row" style="margin-top:1rem">
                    <div class="col s12 m12 l12 center">
                    <iframe src="https://ghbtns.com/github-btn.html?user=maximedaniel&repo=CairnFORM&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                    </div>
                </div>
                </span>
                <span id="usecase">
                    We focused on promoting energy cleanliness in the workplace by helping employees to shift laptop battery charge to peak hours of local renewable energy production.
                    We implemented SEDYL, a tool that simulates the shift of laptop battery charge.
                    Using SEDYL, we validated instructions to give to employees.
                    To help employees apply the instructions <i>in situ</i>, we used CairnFORM to display a chart visualizing 10-hours forecast data of local renewable energy production.
                <p class="center"><a class="waves-effect waves-light btn black white-text" href="/Sedyl">Sedyl</a></p>
                </span>
                <span id="userstudy">
                    Through three user studies with CairnFORM, we show that shape-changing cylindrical displays (1) are usable for informing users through data physicalization,
                    (2) are usable for unobtrusively notifying users through peripheral interaction, and (3) offer a greater user experience over time than planar displays:
                    After two months in a workplace, we observe that CairnFORM is as pragmatic as a flat screen but more hedonic than a flat screen for the use case proposed.
                </span>
                <span id="publication">
                    Maxime Daniel, Guillaume Rivière, and Nadine Couture. 2019. CairnFORM: a Shape-Changing Ring Chart Notifying Renewable Energy Availability in Peripheral Locations. <i>In Proceedings of the 21th International Conference on Tangible, Embedded, and Embodied Interaction (TEI '19)</i>. ACM, New York, NY, USA, 275-286.
                    <br><br>
                    <!--Maxime Daniel, Guillaume Rivière, and Nadine Couture. 2018. CairnFORM.  <i>In Proceedings of the 30th Conference on l'Interaction Homme-Machine (IHM '18)</i>. ACM, New York, NY, USA, XXX-XXX (<font color="red">Upcoming</font>).
                    <br><br>-->
                    Maxime Daniel, Guillaume Rivière, and Nadine Couture. 2018. Designing an Expandable Illuminated Ring to Build an Actuated Ring Chart. <i>In Proceedings of the 20th International Conference on Tangible, Embedded, and Embodied Interaction (TEI '18)</i>. ACM, New York, NY, USA, 140-147.
                    <br><br>
                    Maxime Daniel, Guillaume Rivière, and Nadine Couture. 2017. CAIRNS: an Ambient Tangible Interface for Shifting Energy Demand at Work. <i>In Proceedings of the 29th Conference on l'Interaction Homme-Machine (IHM '17)</i>. ACM, New York, NY, USA, 221-231.
                    <br><br>
                    Maxime Daniel, Guillaume Rivière, and Nadine Couture. 2016. Persuasive Interactive Systems in public and collective spaces: what Role for Tangible Interfaces ?. <i>In Actes de la 28ième conférence francophone sur l'Interaction Homme-Machine (IHM '16)</i>. ACM, New York, NY, USA, 221-229.
                    <br><br>
                    Maxime Daniel, Guillaume Rivière, Nadine Couture, and Stéphane Kreckelbergh. 2016. An Analysis of Persuasive Technologies for Energy Demand Side Management. <i>In Actes de la 28ième conférence francophone sur l'Interaction Homme-Machine (IHM '16)</i>. ACM, New York, NY, USA, 197-210.
                    </span>
            </div>
             <!--<div class="col s12 m12 l6">
                   <ul class="collapsible popout">
                    <li>
                      <div class="collapsible-header bold hoverable" style="padding-top:10px;padding-bottom:10px;" id="abstract"><h5 id="abstract" style="margin:0;"><i class="material-icons"  id="abstract">filter_1</i>Abstract</h5></div>
                      <div class="collapsible-body white"><span>ITAME was a research project in Human-Computer Interaction from october 2015 to october 2018.
                 We studied the application of <i>Tangible User Interfaces</i> for promoting <i>Energy Sobriety</i> and <i></i>Energy Cleanliness</i> in <i>collective and public spaces</i>.</span></div>
                    </li>
                    <li>
                      <div class="collapsible-header bold hoverable" style="padding-top:10px;padding-bottom:10px;"  id="proposal"><h5  id="proposal" style="margin:0;"><i class="material-icons"  id="proposal">filter_2</i>CairnFORM</h5></div>
                      <div class="collapsible-body white">
                          <p style="margin-top:0;">Inspired by <i>cairns</i>, we designed a shape-changing cylindrical display with dynamic revolution symmetry:
                          CairnFORM can morph to discret surfaces of revolution <i>e.g.</i> a discret surface of a cylinder, a cone, a double cone, an ellipsoid.
                          </p>
                          <p>Using color-changing and shape-changing abilities, CairnFORM informs all users around it (not like a planar display) and with more expressiveness (than a cylindrical display).
                          </p>
                          </div>
                    </li>
                    <li>
                      <div class="collapsible-header bold hoverable" style="padding-top:10px;padding-bottom:10px;"  id="context"><h5  id="context" style="margin:0;"><i class="material-icons"  id="context">filter_3</i>Use case</h5></div>
                      <div class="collapsible-body white"><span>
                          <p>In 2016, we classifed 67 interative systems promoting energy sobriety and cleanliness.
                          At the moment, these systems are mainly designed for promoting energy sobriety in domestic spaces
                          using mobile graphical user interfaces (i.e. web or mobile apps)
                          or  fixed ambient physical user interfaces (i.e. connected objects).</p>
                 <p class="center"><a class="waves-effect waves-light btn grey darken-3 white-text" href="http://itame.pythonanywhere.com/Classification">Classification</a></p>
                </span></div>
                    </li>
                    <li>
                      <div class="collapsible-header bold hoverable" style="padding-top:10px;padding-bottom:10px;"  id="study"><h5  id="study" style="margin:0;"><i class="material-icons"  id="study">filter_4</i>User studies</h5></div>
                      <div class="collapsible-body white"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                  </ul>
             </div>-->
        </div>

        <div class="row white">
             <div  class="landscape col offset-s1 s10 offset-m1 m10 offset-l1 l10 black-text transparent">
                 <img id="landscape" class="z-depth-3 responsive-img" src="">

                  <div id="div-video" class="center video-container">
                     <iframe class="z-depth-3" id="iframe-video" width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>

             </div>
        </div>
            <!--<img class="responsive-img" src="/static/logo/energy2-min.png">-->

            <!--<div class="row">
             <div class="col s12 m6 l3">
                 <div class="card-panel grey darken-4">
                  <img  class="responsive-img" src="/static/logo/europe-min.jpg">
                 <h4 class="header white-text text-darken-4">Context</h4>
                 <p>ITAME was a Research project in <a class="modal-trigger white-text text-darken-4" style="text-decoration: underline;" href="#ihm">Human-Computer Interaction</a> from october 2015 to october 2018.
                 We studied the application of <a class="modal-trigger white-text text-darken-4" style="text-decoration: underline;" href="#tui">Tangible User Interfaces</a> for promoting
                 <a class="modal-trigger white-text text-darken-4" style="text-decoration: underline;" href="#energy">Energy Sobriety and Energy Cleanliness</a> in collective and public spaces.</p>
                 <br /><br /><br /></div>
                 <div id="ihm" class="modal grey darken-4">
                       <div class="modal-content">
                        <h5 class="header">Human-Computer Interaction (HCI)</h5>
                      <p>Elaboration of theories, models, methods, and technical solutions for the design and the integration of interactive systems that are <i>useful</i>, <i>usable</i>, and <i>pleasant in all circonstances</i> (Coutaz, 2013).</p>
                      <p class="center"><img  width="40%" src="/static/logo/si.png"></p>
                      </div>
                   <div class="modal-footer grey darken-4">
                      <a href="#!" class="center modal-action modal-close white-text grey darken-3 waves-effect waves-white btn-flat">Ok</a>
                    </div>
                 </div>
                  <div id="tui" class="modal grey darken-4">
                       <div class="modal-content">
                        <h5 class="header">Tangible User Interfaces (TUIs)</h5>
                      <p>User Interfaces using physical artefacts to represent and/or manipulate digital information (Ishii and Ullmer, 1997).</p>
                      <p class="center"><img  width="40%" src="/static/logo/reactable.jpg"></p>
                    </div>
                   <div class="modal-footer grey darken-4">
                      <a href="#!" class="center modal-action modal-close white-text grey darken-3 waves-effect waves-white btn-flat">Ok</a>
                    </div>
                  </div>
                  <div id="energy" class="modal grey darken-4">
                       <div class="modal-content">
                        <h5 class="header">Energy Sobriety and Energy Cleanliness</h5>
                      <p>Using less energy and using cleaner energy respectively (NégaWatt, 2017).</p>
                      <p class="center"><img  width="40%" src="/static/logo/negawatt-en.png"></p>
                    </div>
                   <div class="modal-footer grey darken-4">
                      <a href="#!" class="center modal-action modal-close white-text grey darken-3 waves-effect waves-white btn-flat">Ok</a>
                    </div>
                  </div>
              </div>
             <div class="col s12 m6 l3">
                 <div class="card-panel grey darken-4">
                  <img  class="responsive-img" src="/static/logo/mosaic-min.jpg">
                 <h4 class="header white-text text-darken-4">State of the Art</h4>
                 <p>In 2016, we classifed 67 interative systems promoting energy sobriety and cleanliness.
                 At the moment, these systems are mainly designed for promoting energy sobriety in domestic spaces
                 using  <a class="modal-trigger white-text text-darken-4" style="text-decoration: underline;" href="#mgui">Mobile Graphical User Interfaces</a>
                 or  <a class="modal-trigger white-text text-darken-4" style="text-decoration: underline;" href="#fapui">Fixed Ambient Physical User Interfaces</a>.</p>
                 <p class="center"><a class="waves-effect waves-light btn grey darken-3 white-text" href="http://itame.pythonanywhere.com/Classification">Classification</a></p>
                </div>

                  <div id="mgui" class="modal grey darken-4">
                       <div class="modal-content">
                        <h5 class="header">Mobile Graphical User Interfaces</h5>
                      <p>Pixel-based user interfaces taking the form of mobile devices (e.g., smartphone, tablet, notebook) (Daniel et al., 2016).</p>
                      <p class="center"><img  width="40%" src="/static/logo/mobile.png"></p>
                    </div>
                   <div class="modal-footer grey darken-4">
                      <a href="#!" class="center modal-action modal-close white-text grey darken-3 waves-effect waves-white btn-flat">Ok</a>
                    </div>
                  </div>
                  <div id="fapui" class="modal grey darken-4">
                       <div class="modal-content">
                        <h5 class="header">Fixed Ambient Physical User Interfaces</h5>
                      <p>Physical Object-based user interfaces taking the form of fixed connected objects or fixed everydaylife objects (e.g., lamp, radiator, electrical outlet) (Daniel et al., 2016).</p>
                        <p class="center"><img  width="30%" src="/static/logo/awarecord.jpg"></p>
                    </div>
                   <div class="modal-footer grey darken-4">
                      <a href="#!" class="center modal-action modal-close white-text grey darken-3 waves-effect waves-white btn-flat">Ok</a>
                    </div>
                  </div>
            </div>
              <div class="col s12 m6 l3">
                 <div class="card-panel grey darken-4">
                  <img  class="responsive-img" src="/static/logo/energy2-min.png">
                 <h4 class="header white-text text-darken-4">Proposition</h4>
                 <p>In 2017, we designed CairnFORM, a <a class="modal-trigger white-text text-darken-4" style="text-decoration: underline;" href="#scui">Shape-Changing Cylindrical Display</a>.  Using CairnFORM, we display a physical ring chart for promoting energy cleanliness in collective and public spaces by visualizing 360°-readable forecast data about local renewable energy production.</p>
                 <p class="center"><a class="waves-effect waves-light btn grey darken-3 white-text" href="http://itame.pythonanywhere.com/CairnFORM">CairnFORM</a></p>
                 </div>
                  <div id="scui" class="modal grey darken-4">
                       <div class="modal-content">
                        <h5 class="header">Shape-Changing User Interfaces</h5>
                      <p>In line with TUIs, Shape-changing interfaces are designed under the assumption that, in the near future, physical objects will become as alterable as their digital counterparts in terms of form, functionality and motion, affording them a more dynamic relationship with their environment (Strohmeier, 2016).</p>
                        <p class="center"><img  width="40%" src="/static/logo/inform.jpg"></p>
                    </div>
                   <div class="modal-footer grey darken-4">
                      <a href="#!" class="center modal-action modal-close white-text grey darken-3 waves-effect waves-white btn-flat">Ok</a>
                    </div>
                  </div>
              </div>
              <div class="col s12 m6 l3">
                 <div class="card-panel grey darken-4">
                  <img  class="responsive-img" src="/static/logo/charging-min.png">
                 <h4 class="header white-text text-darken-4">Case Study</h4>
                 <p>In 2018, we deployed CairnFORM in an openplan for two months in order to help employees to charge laptop batteries when there is plenty of renewable energy. To help users, we implemented SEDYL, a tool that simulates the consequences of a given practice for a given energy production mix.</p>
                 <p class="center"><a class="waves-effect waves-light btn grey darken-3 white-text" href="http://itame.pythonanywhere.com/CairnFORM/Sedyl">Sedyl</a>
                 <a class="waves-effect waves-light btn grey darken-3 white-text" href="http://itame.pythonanywhere.com/CairnFORM/Study/">Study</a></p>
                </div>
              </div>
          </div>
          <div class="row">
             <div class="col s12 m12 l12">
                 <div class="card-panel grey darken-4">
                 <h4 class="header white-text text-darken-4">Publications</h4>
                <p>Daniel, M., Rivière, G. & Couture, N. (2018). Designing an Expandable Illuminated Ring to Build an Actuated Ring Chart. <i>Twelfth International Conference on Tangible, Embedded and Embodied Interactions (TEI'18)</i>, Mar 2018, Stockholm, Sweden.</p>
                <p>Daniel, M., Rivière, G. & Couture, N. (2017). Prelimary studies for the design of CAIRNS : an Ambient Tangible Interface for Shifting Energy Demand in the Workplace. <i>29ème conférence francophone sur l'Interaction Homme-Machine (IHM'17)</i>, Aug 2017, Poitiers, France.</p>
                <p>Daniel, M., Rivière, G. & Couture, N. (2016). Persuasive interactive systems in public and collective spaces: what role for tangible interfaces ?. <i>28ème conférence francophone sur l'Interaction Homme-Machine (IHM'16)</i>, Oct 2016, Fribourg, Suisse.</p>
               <p>Daniel, M., Rivière, G., Couture, N. & Kreckelbergh, S. (2016). An analysis of persuasive technologies for energy demand side management. <i>28ème conférence francophone sur l'Interaction Homme-Machine (IHM'16)</i>, Oct 2016, Fribourg, Suisse.</p>
               </div>
            </div>
          </div>-->
  </div>
</main>
<script src="/static/js/materialize.js"></script>
<script>

    var landscapes = {
        'abstract':'https://www.youtube.com/embed/wZ_3CtDllbA',
        /*'abstract':'static/logo/cairnform-demo-min.jpg',*/
        'stateofart':'/static/logo/earthnight-min.jpg',
        'usecase':'static/logo/cairnform-demo-min.jpg',
        'cairnform':'/static/logo/banner0-min.png',
        'userstudy':'/static/logo/cairnform-study3-min.jpg',
        'publication':'',
    }
    var images = []
    if (document.images) {
        for (var key in landscapes) {
            if (landscapes.hasOwnProperty(key)) {
                img = new Image();
                img.src = landscapes[key];
                images.push(img);
            };
        };
    };
    $(document).ready(function(){
    $('#body').show();
    $('.collapsible').collapsible();
    $('.tooltipped').tooltip({'margin':0});
    $(".table-of-contents a").click(function(e) {
        var id = e.target.id
        console.log()
        $(".table-of-contents a").removeClass("active")
        $('span').hide();
        $(e.target).addClass("active")
        $('span#'+id).show();
       if (id == 'abstract'){
            $('#landscape').attr('src', '');
            $('#iframe-video').attr('src', landscapes[id]);
            $('#div-video').show();
        } else {
            $('#landscape').attr('src', landscapes[id]);
            $('#div-video').hide();
            $('#iframe-video').attr('src', '');
        }
        /*$('#landscape').attr('src', landscapes[id]);*/

    });
    $( ".table-of-contents a:first" ).trigger( "click" );

  });

  // state of the art - /static/logo/earthnight-min.jpg
</script>
{% include "../footer.html" %}
